java/xerces-java-trunk/docs/dtd/markup.ent

<?xml encoding='UTF-8'?>

<!-- MARKUP ENTITY -->
<!ENTITY % markup "em|strong|ref|code|br">

<!-- import the external source-specific dtd -->
<!ENTITY % externalEntity SYSTEM "entities.ent">
%externalEntity;
<!-- import the external charecters.ent dtd -->
<!ENTITY % charEntity SYSTEM "characters.ent">
%charEntity;
<!-- import the external links.ent dtd -->
<!ENTITY % linksEntity SYSTEM "links.ent">
%linksEntity;

<!ELEMENT em (#PCDATA|%links;)*>
<!ELEMENT strong (#PCDATA|%links;)*>
<!ELEMENT ref (#PCDATA|%links;)*>
<!ELEMENT code (#PCDATA|%links;)*>
<!ELEMENT br EMPTY>

<!-- CVS $Revision: 317483 $ $Date: 2001-08-23 02:35:39 +0200 (Thu, 23 Aug 2001) $ -->
